.rte{
    margin-top: 10px;
    box-shadow: 2px 2px 4px #333333;
}
h1{
    margin: 0px;
    background-color: #006666;
    text-align: center;
    font-size: 25px;
    font-variant: small-caps;
    color: #ffffff;
}
h2{
    background-color: #F6F6F6;
    padding: 15px;
    border-bottom: solid 1px #333333;
    color: #006666;
    font-size: 20px;
    font-variant: small-caps;
}
p{
    padding: 0px 15px;
}
.pfoot{
    color: #006666;
    font-size: 10px;
    font-style: italic;
}